<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
    <script src="static/js/popper.min.js"></script>


</head>


<body>

    <nav class="navbar navbar-expand-sm bg-light">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-md-1 col-1">
                    <a class="navbar-brand pt-0" href="home.html"><img src="./static/images/main_logo.png" class="w-75"></a>
                </div>
                <div class="col-md-8 col-3 float-right mt-2">
                    <ul class="navbar-nav">
                        <li class="nav-item"> 
                            <a class="nav-link" href="home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="solution.html">Solution</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about_us.html">About Us</a>
                        </li>

                        <!-- Dropdown -->
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Menu
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="col-md-12">
        <div class="row about-image" style="max-height:500px;border: 1px solid grey;height:500px">
            <img src="./static/images/fabio-oyXis2kALVg-unsplash.jpg" class="w-100 h-100" style="box-shadow:1px 3px 3px 1px">
        </div>

    </div>

    
    <div class="col-md-12 mt-3">
        <p>Are you a corporate or an entrepreneur looking to access the entire suite of available RPAs ?? Do you want to feel enabled by RPAs and make the best possible decisions on which RPAs to incorporate into your workforce? </p>

        <p>You have come to the right place- smarteRPAck! Using our meta portal, you would now be able to choose a combination of the ideal RPAs for your enterprise with a fair amount of ease. Try it out yourself! Robotic Process Automation (RPA) is a combination
            of Artificial Intelligence </p>
        <p>(AI) and Machine Learning (ML) software solution that does repetitive tasks, which used to be done by humans earlier. RPA helps in mimicking most of the human tasks such as opening an email and attachments, web scraping, copying and pasting, doing
            calculations, filling in forms, logging into web/enterprise applications, moving files and folders, reading and writing to databases, connecting to system API, making calculations, extracting structured/unstructured /semi structured data,
            transaction processing and manipulating data. </p>
        <p>As in the name Robotic Process Automation it says robot, that doesn’t mean a physical bot instead these are the digitized bots which are capable enough of interacting with digital interfaces to do multiple tasks, just like humans do. We are a
            team of five striving to help people like you with smart RPA solutions at your fingertips! Do you want to contact the developers? Get in touch!
    </div>

</body>

</html>